<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>		
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>		
		<h4 class="card-title">Productos</h4>
		<p>Tralala - 190 €</p>			            	
		<p>Tralali - 20 €</p>	
		<hr/>
		<h4 class="card-title">Finalizar compra</h4>
		<p style="font-weight: bold">Productos: 210 €</p>
		<p style="font-weight: bold; display: none" id="solidario">Click Solidario: 1 €</p>
      	<hr/>
       	<p style="font-weight: bold">Total: <span id="total">210</span> €</p>   				    		
		<button id="go" class="btn btn-primary btn-block">Finalizar compra</button>
	   	<form action="/validate" method="post" id="formulario">
 			<input type="hidden" name="value" id="value"/>
 			<input type="hidden" name="idDonation" id="idDonation"/>  				
 		</form>
 		<br/>
 		<br/>
		<div id="clickStockCrowd" campaign="7" speaker="1" visible="true"></div>
		<script src="https://develop.stockcrowd.com/api/cs/widget"></script>		
		<script type="text/javascript">	    		    		    
	    	$(document).ready(function(){
	    		stckC.bind("change", function (){
	    			if (stckC.isChecked()) {
	    				$('#solidario').show();
	    				$('#total').html(parseInt($('#total').html()) + 1);
	    			} else {
	    				$('#solidario').hide();
	    				$('#total').html(parseInt($('#total').html() - 1));
	    			}	    			
	    		});	
	    		
	    		$('#go').click(function() {
	    			$('#value').val(parseInt($('#total').html()));
	    			if (stckC.isChecked())
	    				$('#idDonation').val(stckC.id);
	    			$('#formulario').submit();
	    		});
	    		
	    	});
	    </script>
	</body>
</html>